<% include ../partials/header %>

    
    <!--<body background="https://2.bp.blogspot.com/-Rj-UwVrJx6Q/WR08r2HCzYI/AAAAAAAAAEw/8nRAnnFLnZUxd6OBKaR0LYj_cplkVm2HACLcB/s1600/ffxivgil.jpg">-->
    <body id="back1">
    <h1>welcome to ff14 cosplay home</h1>
    <header class="jumbotron">
        <!--container，当缩放整个页面时，有container，container里的内容会适应页面大小改变，适合响应式布局-->
        <div class="container" font color="#b3b5b1">
            <h2 class="display-3">这里是cosplay的家</h2>
            <!--<p>View our hand-picked campgrounds from EOZEA</p>-->
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/cossite/new">add new cosplay</a>
                <!--add a container, .container 类用于固定宽度并支持响应式布局的容器。有container抱在一起的在大屏幕上才能显示居中的-->
            </p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% cossites.forEach(function(cosimg) { %>
        <!--col为medium占了3格-->
            <div class="col-md-3 col-sm-6">
                <!--thumbnail 在Bootstrap框架中真实含义：缩略图-->
                <div class="thumbnail" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                    <img src="<%= cosimg.image %>"> 
                    <!--caption 元素定义表格标题。caption 标签必须紧随 table 标签之后。只能对每个表格定义一个标题。通常这个标题会被居中于表格之上。-->
                    <div class="caption">
                        <h4><%= cosimg.oricos %></h4>
                    </div>
                    <p>
                        <a href="/cossite/<%= cosimg._id %>" class="btn btn-primary">More</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    <div class="container">
        <h5>
            Location data aggregated from the FFXIV community | Made by Felicity
            <a href="https://github.com/FelicityRooting/EorzeaCamp">About Page &amp; Donate Link</a> | 
            <!--Map powered by Leaflet.js-->
            <!--FINAL FANTASY XIV © 2010 - 2018 SQUARE ENIX CO., LTD. All Rights Reserved.-->
        </h5>
    </div>
    
    
    </body>
<% include ../partials/footer %>