<% include ../partials/header %>

    
    <body background="https://2.bp.blogspot.com/-Rj-UwVrJx6Q/WR08r2HCzYI/AAAAAAAAAEw/8nRAnnFLnZUxd6OBKaR0LYj_cplkVm2HACLcB/s1600/ffxivgil.jpg">
    <h1>welcome to ff14 cosplay home</h1>
    <header class="jumbotron">
        <!--container，当缩放整个页面时，有container，container里的内容会适应页面大小改变，适合响应式布局-->
        <div class="container" font color="#b3b5b1">
            <h2 class="display-3">这里是cosplay的家</h2>
            <!--<p>View our hand-picked campgrounds from EOZEA</p>-->
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/cossite/new">add new cosplay</a>
                <!--add a container, .container 类用于固定宽度并支持响应式布局的容器。有container抱在一起的在大屏幕上才能显示居中的-->
            </p>
        </div>
    </header>
    
    
    </body>
<% include ../partials/footer %>